# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env

# Docker
docker-compose.yml
.docker/
Dockerfile

# Node
node_modules/
npm-debug.log

# Composer
vendor/bin/

# Databse
database/